---
import Logo from '../components/Logo.astro';

const navItems = [
    { linkText: 'Home', href: '/' },
    { linkText: 'Research', href: '/blog' },
    { linkText: 'Resources', href: '/resources' },
    { linkText: 'About', href: '/about' },
    { linkText: 'Newsletter', href: '/newsletter' }
];
---

<nav class="flex flex-wrap items-center justify-between gap-4 pt-6 pb-16 sm:pt-12 sm:pb-24">
    <a href="/" class="hover:opacity-80 transition-opacity">
        <Logo />
    </a>
    {
        !!navItems?.length && (
            <ul class="flex flex-wrap gap-x-6 gap-y-2">
                {navItems.map((item) => (
                    <li>
                        <a
                            href={item.href}
                            class="inline-block px-3 py-2 text-neutral-700 hover:text-primary font-medium transition-colors"
                        >
                            {item.linkText}
                        </a>
                    </li>
                ))}
            </ul>
        )
    }
</nav>
